# App Config
PROJECT_NAME="Secure Fingerprint Attendance"
API_V1_STR="/api/v1"
SECRET_KEY="replace-this-with-a-very-secure-random-key"
ACCESS_TOKEN_EXPIRE_MINUTES=11520  # 8 days
REFRESH_TOKEN_EXPIRE_MINUTES=43200 # 30 days

# MongoDB
MONGODB_URL="mongodb://admin:secret@localhost:27017"
DATABASE_NAME="attendance_db"

# SMTP (Email)
SMTP_TLS=True
SMTP_PORT=587
SMTP_HOST="smtp.gmail.com"
SMTP_USER="sabduhoshimov538@gmail.com"
SMTP_PASSWORD="ckxuhiyxxpudzroh"
EMAILS_FROM_EMAIL="sabduhoshimov538@gmail.com"
EMAILS_FROM_NAME="Attendance System"

# Biometric Matching
BIOMETRIC_THRESHOLD=40.0